.signin {
  max-width: 1440px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  .header {
    height: 100px;
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    // grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    align-items: center;
    // height: 80vh;
    padding-top: 50px;

    .image {
      justify-self: center;
      align-self: center;
    }

    .form {
      width: fit-content;
      justify-self: center;

      .header {
        font-size: 40px;
        font-weight: 700;
        color: #213f7d;
        margin: 0;
      }

      .sub {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        color: #545f7d;
      }

      form {
        margin-top: 70px;
      }
      .input_container {
        display: flex;
        align-items: center;
        max-width: 447px;
        height: 50px;
        background: #ffffff;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        margin-top: 30px;

        input {
          height: 100%;
          flex: 1;
          border: none;
          outline: none;
          padding-left: 10px;
          padding-right: 10px;

          ::placeholder {
            color: #545f7d;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .button {
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 10%;
          color: #39cdcc;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }

      .for {
        margin-top: 20px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 10%;
        color: #39cdcc;
        text-transform: uppercase;
      }

      button {
        margin-top: 20px;
        width: 447px;
        height: 48px;
        border-radius: 8px;
        background: #39cdcc;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 10%;
      }
    }
  }
}
