.userdetails {
  .back {
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: #545f7d;
      margin-left: 10px;
      text-decoration: none;
    }
  }
  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
      color: #213f7d;
      font-weight: 500;
      font-size: 24px;
    }
    .buttons {
      display: flex;
      align-items: center;

      button {
        width: 170px;
        height: 40px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-left: 20px;
        cursor: pointer;
      }

      .button1 {
        border: 1px solid #e4033b;
        background: #fff;
        color: #e4033b;
      }
      .button2 {
        border: 1px solid #39cdcc;
        background: #fff;
        color: #39cdcc;
      }
    }
  }

  .profile_container {
    position: relative;
    width: 100%;
    // height: 210px;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .profile {
      display: flex;
      align-items: center;
      margin: 30px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
      }
      .profile1 {
        margin-left: 15px;
        margin-right: 15px;
        .name {
          font-size: 22px;
          font-weight: 400;
          color: #545f7d;
          margin: 0;
        }
        .id {
          font-size: 14px;
          font-weight: 400;
          color: #545f7d;
          margin: 0;
          margin-top: 10px;
        }
      }
      .line {
        height: 80px;
        border: 1px solid #545f7d;
        opacity: 0.2;
      }
      .profile2 {
        padding-left: 10px;
        padding-right: 10px;

        .userstier {
          color: #545f7d;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .profile3 {
        padding-left: 20px;
        padding-right: 20px;

        .name {
          font-size: 22px;
          font-weight: 400;
          color: #545f7d;
          margin: 0;
        }
        .id {
          font-size: 14px;
          font-weight: 400;
          color: #545f7d;
          margin: 0;
          margin-top: 10px;
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: space-around;
      position: relative;
      margin-top: 30px;

      button {
        font-weight: 400;
        font-size: 16px;
        text-transform: capitalize;
        color: #39cdcc;
        background: none;
        outline: none;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        cursor: pointer;
      }
    }
  }
  .overview {
    width: 100%;
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px;
    padding-top: 10px;

    .section {
      padding-bottom: 20px;
      margin-top: 30px;
      border-bottom: 1px solid rgbA(33, 63, 125, 0.1);

      .header {
        font-size: 16px;
        font-weight: 500;
        color: #213f7d;
      }

      .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
        margin-top: 30px;

        .title_name {
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0;
        }
        .title {
          margin-top: 10px;
          color: #545f7d;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
